/target
/.settings
/.classpath
/.project
/.checkstyle
/.designer
/.vaadin-designer2
/.factorypath
/*.log
/*.log.*
/*.launch
/src/main/resources/VAADIN/themes/**/styles.css
styles.scss.cache
.DS_Store
