<configuration>
  <property name="FILE_LOG_PATTERN"
    value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t][%.-15mdc{user}] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <logger name="ca.qc.ircm.proview" level="DEBUG"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="com.vaadin" level="WARN"/>
  <!--
  <logger name="ca.qc.ircm.lanaseq.web.validation.ValidationLogger" level="TRACE"/>
  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>
  <logger name="org.springframework.security" level="DEBUG"/>
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.type" level="TRACE"/>
  <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
  <logger name="com.zaxxer" level="DEBUG"/>
  -->
</configuration>
