<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <p th:if="${type == 'INSERT'}"><span th:text="${sampleCount}">2</span> new samples were submitted by <span th:text="${user.email}">christian.poitras@ircm.qc.ca</span></p>
        <p th:if="${type == 'INSERT'}">Submission experiment is <span th:text="${submission.experiment}">my experiment</span></p>
        <p th:if="${type == 'UPDATE'}">Submission <span th:text="${submission.experiment}">my experiment</span> was updated by <span th:text="${user.email}">christian.poitras@ircm.qc.ca</span></p>
        <table>
            <thead>
                <tr>
                    <th>
                        Sample name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sample: ${samples}">
                    <td>
                        <span th:text="${sample.name}">my sample</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
